main {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 20px;
}

aside {
    height: auto;
    max-width: 150px;
    display: grid;
    justify-content: center;
}

aside nav {
    align-self: start;
    display: grid;
    justify-items: center;
    row-gap: 1px;
}

article {
    padding: 30px;
    display: grid;
    justify-content: center;
}

.posztok {
    max-width: 700px;
    display: grid;
    row-gap: 20px;
}

.poszt {
    display: grid;
    row-gap: 15px;
    padding: 20px;
    border-radius: 12px;
}

.posztinfo {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    position: relative;
}

.posztkep img {
    width: 100%;
    border-radius: 10px;
}

.posztkepinfo {
    position: absolute;
    bottom: 10px;
    left: 10px;

    display: grid;
    grid-auto-flow: column;
    column-gap: 10px;
}

.posztleiras {
    display: grid;
    row-gap: 10px;
}

.kommentek {
    display: grid;
    row-gap: 10px;
}

.komment {
    padding: 10px;
    border-radius: 8px;
}

.valasz {
    margin-top: 10px;
    margin-left: 20px;
    padding: 8px;
    border-radius: 6px;
}