body {
    display: grid;
    grid-template-rows: auto 1fr;
}

main {
    display: grid;
    grid-template-columns: 80px 1fr;
}

aside {
    min-height: 100vh;
    display: grid;
    justify-content: center;
}

aside nav {
    display: grid;
    justify-items: center;
    row-gap: 10px;
}

article {
    padding: 30px;
}

.profil-fejlec {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 30px;
    padding: 20px;
}

.profil-kep {
    width: 200px;
    height: 200px;
}

.profil-adatok {
    display: grid;
}

.profil-stats {
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    margin-top: 10px;
}

.poszt-grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.poszt-kartya {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}